<nb-card-header>
  <i class="ion-social-usd"></i>
  <span class="title">Lợi Nhuận</span>
</nb-card-header>
<nb-card-body>
  <div class="info">
    <div class="period">
      <div class="caption">1 tháng 12 - 30 tháng 12</div>
      <div class="label">
        <span class="currency">Triệu</span>300
      </div>
    </div>
    <div class="period latest">
      <div class="caption">1 tháng 1 - 31 tháng 1</div>
      <div class="label">
        <span class="currency">Triệu</span>860
      </div>
    </div>
  </div>
  <ngx-stats-ares-chart [points]="chartData"></ngx-stats-ares-chart>
</nb-card-body>
