.table{
  width: 100%;
  border-radius: 5px;
  border: none;
}
.table tr th{
  color: blue;
  font-family: tahoma;
  font-size: 15px;
  border: none;
}
.table tr td{
  color: black;
  font-family: tahoma;
  font-size: 15px;
  border: none;
}
.table tr td p{
  font-family: tahoma;

}
.anhdd img{
  height: 200px;width: 200px;
  margin-left: 90px;
}
.anhdd img:hover{
  -moz-box-shadow: 1px 1px 5px #000000;
  -webkit-box-shadow: 1px 1px 5px #000000;
  box-shadow: 1px 1px 5px #000000;
}
/* tieu de */
.tittle-home {
  background-color: #fff;
  font-family: tahoma;
  font-size: 23px;
  color: green;
  padding: 7px 23px 7px 22px;
  border: dashed 0px #ffffff;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  /* width: 100%; */
}
.tittle-right {
  border-bottom: solid 4px #ffffff;
  width: 57.4%;
}
/* //form  */
a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: red;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #d33f8d;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}

p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul,li {
  margin: 0px;
  list-style-type: none;
}
/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}
input::-webkit-input-placeholder {
  color: #acacac;
}
input:-moz-placeholder {
  color: #acacac;
}
input::-moz-placeholder {
  color: #acacac;
}
input:-ms-input-placeholder {
  color: #acacac;
}
textarea::-webkit-input-placeholder {
  color: #acacac;
}
textarea:-moz-placeholder {
  color: #acacac;
}
textarea::-moz-placeholder {
  color: #acacac;
}
textarea:-ms-input-placeholder {
  color: #acacac;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}
/* [ Utility ] */
.txt1 {
  font-size: 16px;
  color: #999999;
  line-height: 1.4;
}

.bo1 {
  border-bottom: 1px solid #999999;
}

.hov1:hover {
  color: green;
  border-color: green;
  transition: all 1s;
}
/* [ login ]*/
.container-login100 {
  width: 100%;
  margin: 0px;
  padding: 0px;
  min-height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  border-radius: 5px;
  background: -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
  background: -o-linear-gradient(bottom, #0250c5, #d43f8d);
  background: -moz-linear-gradient(bottom, #0250c5, #d43f8d);
  background: linear-gradient(bottom, #0250c5, #d43f8d);
  position: relative;

}

.wrap-login100 {
  width: 100%;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  /* margin-right: 20px; */
  /* margin-top: 5px; */
}

.login100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  justify-content: space-between;
  flex-wrap: wrap;
}

.login100-form-title {
  font-family: Raleway-Black;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 0px;
}
/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
}
.input100 {
  font-size: 18px;
  line-height: 1.2;
  color: #686868;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 62px;
  border-radius: 3px;
  padding: 0 30px 0 65px;
}

.input100:focus+.focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 20px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 20px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 24px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 23px;
  padding-bottom: 5px;
  pointer-events: none;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus+.focus-input100+.symbol-input100 {
  color: #d33f8d;
  padding-left: 18px;
}
/* [ Restyle Checkbox ]*/ */

.input-checkbox100 {
  display: none;
}
.label-checkbox100 {
  font-size: 16px;
  color: #999999;
  line-height: 1.2;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background: #fff;
  border: 2px solid #d33f8d;
  left: 0;
  top: 48%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked+.label-checkbox100::before {
  color: #d33f8d;
}


/* [ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  font-family: tahoma;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 62px;
  border-radius: 3px;
  background: green;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: hotpink;
}
/* [ Button sign in with ] */
.btn-face,
.btn-google {
  font-family: Raleway-Bold;
  font-size: 16px;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 60px) / 2);
  height: 40px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.btn-face {
  color: #3b5998;
}
.btn-face i {
  font-size: 20px;
  margin-right: 10px;
  padding-bottom: 1px;
}
.btn-google {
  color: #555555;
}
.btn-google img {
  width: 19px;
  margin-right: 10px;
  padding-bottom: 1px;
}


.btn-face:hover,
.btn-google:hover {
  border-color: green;
  color: green;
  transition: all 1s;
}
/* [ Alert validate ] */
.validate-input {
  position: relative;
}
.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 3px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Raleway-SemiBold;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 480px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.fs-200 {
  font-size: 200px;
}
/* [ PADDING ] */
.p-b-20 {
  padding-bottom: 20px;
}
.p-b-30 {
  padding-bottom: 30px;
}
.p-r-50 {
  padding-right: 50px;
}

/*[ MARGIN ]*/
.m-b-18 {
  margin-bottom: 18px;
}
/* ------------------------------------ */
.text-center {
  text-align: center;
}
/* [ Width & Height ] */
.w-full {
  width: 100%;
}
.max-w-full {
  max-width: 100%;
}
.min-w-full {
  min-width: 100%;
}
